# 数组矩阵：行列信息

## 1 引用

In [1]:
import pandas as pd
import numpy as np

In [5]:
np.nan

nan

## 2 序列 Series

In [2]:
s01=pd.Series([1,3,5,np.nan,6,9])
s01

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

## 3 时间范围

In [16]:
date01=pd.date_range(start="20160818",periods=10)
date01

DatetimeIndex(['2016-08-18', '2016-08-19', '2016-08-20', '2016-08-21',
               '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
               '2016-08-26', '2016-08-27'],
              dtype='datetime64[ns]', freq='D')

## 4 DataFrame对象

In [20]:
df01 = pd.DataFrame(np.random.randn(10,6), index=date01, columns=list('ABCDEF'))
df01

                   A         B         C         D         E         F
2016-08-18 -0.244261 -0.659964 -0.803129  0.375711  1.663186 -0.633984
2016-08-19 -0.599928 -0.319406  0.567199 -2.330388  0.883012 -0.198178
2016-08-20  2.026703  0.752887 -1.591276 -1.094253  0.324209  0.295673
2016-08-21  0.036035  0.232062  0.581130 -0.500515 -2.112790 -1.768483
2016-08-22 -0.722143 -0.812356  0.407740  0.443017 -1.026598 -0.051102
2016-08-23  0.621833 -0.422199  0.189628 -0.598335  0.059643  0.136458
2016-08-24 -0.623433  0.741158  0.460051 -0.567886 -0.348610 -1.071626
2016-08-25 -1.241214 -0.749104  0.841774 -0.267436 -0.326296 -0.819834
2016-08-26  1.804951 -1.462064  0.160139 -1.006510 -0.005313 -1.287751
2016-08-27 -2.066398  1.441313  0.556940 -0.027242 -0.655524 -1.176466

### 4.1 DataFrame对象部分属性

In [25]:
df01.head(2)

                   A         B         C         D         E         F
2016-08-18 -0.244261 -0.659964 -0.803129  0.375711  1.663186 -0.633984
2016-08-19 -0.599928 -0.319406  0.567199 -2.330388  0.883012 -0.198178

In [26]:
df01.tail(2)

                   A         B         C         D         E         F
2016-08-26  1.804951 -1.462064  0.160139 -1.006510 -0.005313 -1.287751
2016-08-27 -2.066398  1.441313  0.556940 -0.027242 -0.655524 -1.176466

In [27]:
df01.axes

[DatetimeIndex(['2016-08-18', '2016-08-19', '2016-08-20', '2016-08-21',
                '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
                '2016-08-26', '2016-08-27'],
               dtype='datetime64[ns]', freq='D'),
 Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')]

In [28]:
df01.index

DatetimeIndex(['2016-08-18', '2016-08-19', '2016-08-20', '2016-08-21',
               '2016-08-22', '2016-08-23', '2016-08-24', '2016-08-25',
               '2016-08-26', '2016-08-27'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df01.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')

In [31]:
df01.describe()

               A          B          C          D          E          F
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.100786  -0.125767   0.137020  -0.557384  -0.154508  -0.657529
std     1.282017   0.892173   0.753298   0.807953   1.032331   0.684498
min    -2.066398  -1.462064  -1.591276  -2.330388  -2.112790  -1.768483
25%    -0.697466  -0.726819   0.167511  -0.904467  -0.578795  -1.150256
50%    -0.422095  -0.370802   0.433895  -0.534200  -0.165805  -0.726909
75%     0.475383   0.613884   0.564634  -0.087291   0.258067  -0.087871
max     2.026703   1.441313   0.841774   0.443017   1.663186   0.295673

In [32]:
df01.T

,2016-08-18 00:00:00,2016-08-19 00:00:00,2016-08-20 00:00:00,2016-08-21 00:00:00,2016-08-22 00:00:00,2016-08-23 00:00:00,2016-08-24 00:00:00,2016-08-25 00:00:00,2016-08-26 00:00:00,2016-08-27 00:00:00
A,-0.244261,-0.599928,2.026703,0.036035,-0.722143,0.621833,-0.623433,-1.241214,1.804951,-2.066398
B,-0.659964,-0.319406,0.752887,0.232062,-0.812356,-0.422199,0.741158,-0.749104,-1.462064,1.441313
C,-0.803129,0.567199,-1.591276,0.581130,0.407740,0.189628,0.460051,0.841774,0.160139,0.556940
D,0.375711,-2.330388,-1.094253,-0.500515,0.443017,-0.598335,-0.567886,-0.267436,-1.006510,-0.027242
E,1.663186,0.883012,0.324209,-2.112790,-1.026598,0.059643,-0.348610,-0.326296,-0.005313,-0.655524
F,-0.633984,-0.198178,0.295673,-1.768483,-0.051102,0.136458,-1.071626,-0.819834,-1.287751,-1.176466

## 5数据查询

In [37]:
#列式
df01["C"]

2016-08-18   -0.803129
2016-08-19    0.567199
2016-08-20   -1.591276
2016-08-21    0.581130
2016-08-22    0.407740
2016-08-23    0.189628
2016-08-24    0.460051
2016-08-25    0.841774
2016-08-26    0.160139
2016-08-27    0.556940
Freq: D, Name: C, dtype: float64

In [43]:
df01['20160822':"20160825"]

                   A         B         C         D         E         F
2016-08-22 -0.722143 -0.812356  0.407740  0.443017 -1.026598 -0.051102
2016-08-23  0.621833 -0.422199  0.189628 -0.598335  0.059643  0.136458
2016-08-24 -0.623433  0.741158  0.460051 -0.567886 -0.348610 -1.071626
2016-08-25 -1.241214 -0.749104  0.841774 -0.267436 -0.326296 -0.819834

In [46]:
df01[4:8]

                   A         B         C         D         E         F
2016-08-22 -0.722143 -0.812356  0.407740  0.443017 -1.026598 -0.051102
2016-08-23  0.621833 -0.422199  0.189628 -0.598335  0.059643  0.136458
2016-08-24 -0.623433  0.741158  0.460051 -0.567886 -0.348610 -1.071626
2016-08-25 -1.241214 -0.749104  0.841774 -0.267436 -0.326296 -0.819834

### 5.1 数据写入到本地文件夹 csv、json

In [47]:
df01.to_csv("abcdef.csv")

In [58]:
df01.to_json("abcdef00_values.json",orient="values", date_format="iso")

In [59]:
df01.to_json("abcdef01_index.json",orient="index",date_format="iso")

In [60]:
df01.to_json("abcdef02_columns.json",orient="columns",date_format="iso")

In [61]:
df01.to_json("abcdef03_split.json",orient="split",date_format="iso")

In [62]:
df01.to_json("abcdef04_record.json",orient="records",date_format="iso")

In [63]:
df01.to_excel("abcdef.xlsx")

In [64]:
df01.to_pickle("abcdef.pkl")